<ion-view view-title="Home" hide-back-button="true">
    <!-- this ion-nav-buttons is no necessary now, it's defined in tabs' ion-nav-view -->
    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-search" ui-sref="search.index">
      </button>
    </ion-nav-buttons> -->
    <!--
        DO NOT WRAP <ion-tabs/> in <ion-content/>!!!
        add a css as ion-tabs .pane { margin-top: 50px; } to control it's margin
      https://github.com/driftyco/ionic/issues/992
      <ion-content>
      -->
    <!-- <ion-tabs class="tabs-striped tabs-top tabs-color-positive">
        <ion-tab ng-repeat="tab in channelsController.tabs" title="{{ tab.title }}" ui-sref="{{ tab.uiSref }}">
            <ion-nav-view name="{{ tab.viewName }}"></ion-nav-view>
            <cmn-dynamic-nav-view name="{{tab.viewName}}"></cmn-dynamic-nav-view>
            <ion-view>
              <ion-content>
                <ul>
                <li ng-repeat="item in channelsController.tabs">
                    Some Test
                    <span class="bubble-grey">
                        {{ item.viewName }}
                    </span>
                </li>
                </ul>
              </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs> -->
    <!-- <ion-tabs class="tabs-striped tabs-top tabs-color-positive">
        <ion-tab ng-repeat="tab in channelsController.tabs" title="{{ tab.title }}" ui-sref="{{ tab.uiSref }}" href="#{{tab.url}}">
          <ion-nav-view name="channel-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs> -->

    <!-- 
      after 2 days trials and errors, 
      I'm afraid this file have to be manually generation and file update everytime adding a new channel
      ionic does not support dynamic name for <ion-nav-view/> for the time being 
      and this !!!href attr of <ion-tab/>is critical for proper nav to state!!! I don't know why
      and !!! name attr of <ion-nav-view/> need stay diff from each other!!! I don't know why
      above weird stuff maybe <ion-tabs/> bug...
      will need cordova file plugin to do some update later
    -->
    <ion-tabs class="tabs-striped tabs-top tabs-color-positive">
        <ion-tab title="Recommendation" ui-sref="app.home.recommendation" href="#/channel/recommendation">
            <ion-nav-view name="recommendation-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Civilization" ui-sref="app.home.civilization" href="#/channel/civilization">
            <ion-nav-view name="civilization-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Entertainment" ui-sref="app.home.entertainment" href="#/channel/entertainment">
            <ion-nav-view name="entertainment-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
