<ion-side-menu side="left" class="main-menu">
    <ion-header-bar class="bar-positive" style="position:relative;height:auto;">
        <!-- 
	  		I can actually do sth about this 'nav-clear' to make it show the back nav-btn
	  		take a close look at menuClose directive so that I could inmitate the same effect
	  		here should be controller function to show profile page or the login page
		-->
        <a class="item-content user-profile" ui-sref="auth.login" cmn-menu-close>
            <img ng-src="/img/anonymous.png" style="
				  width: 64px;
				  height: 64px;
				  border-radius: 50%;
				  display: block;
				  margin: auto;
				  background-color: gainsboro;
				" />
            <div style="text-align:center" ng-bind="mainMenuController.nickname"></div>
        </a>
        <br/>
        <div style="width:50%; 
		  border-bottom:2px solid white;
		  margin:auto;">
            <i class="icon ion-ios-location-outline"></i>
            <span style="padding:0 0.5em;">Guangzhou</span>
        </div>
    </ion-header-bar>
    <ion-content style="position:relative;top:0;">
        <ion-list>
            <!-- I will manually assign this ui-sref for the time being -->
            <ion-item class="item-light" nav-clear menu-close ui-sref="app.home" ui-sref-active="activated">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" style="color:red;"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <span style="padding-left: 1em;">Home</span>
            </ion-item>
            <ion-item class="item-light" nav-clear menu-close ui-sref="search.index" ui-sref-active="activated">
                <span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x" style="color:orange;"></i>
				<i class="fa fa-search fa-stack-1x fa-inverse"></i>
			</span>
                <span style="padding-left: 1em;">Search</span>
            </ion-item>
            <ion-item class="item-light" nav-clear menu-close ui-sref="contact.index" ui-sref-active="activated">
                <span class="fa-stack fa-lg">
	  			<i class="fa fa-circle fa-stack-2x" style="color:dodgerblue;"></i>
	  			<strong class="fa-stack-1x fa-stack-text fa-inverse">1</strong>
			</span>
                <span style="padding-left: 1em;">1°</span>
            </ion-item>
            <ion-item class="item-light" nav-clear menu-close ui-sref="account.settings" ui-sref-active="activated">
                <span class="fa-stack fa-lg">
	  			<i class="fa fa-circle fa-stack-2x" style="color:blueviolet;"></i>
	  			<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
			</span>
                <span style="padding-left: 1em;">Settings</span>
            </ion-item>
        </ion-list>
        <div>trending high chart...</div>
    </ion-content>
</ion-side-menu>
