

@import "www/lib/ionic/scss/variables";

body {
  cursor: url('../img/finger.png'), auto;
}

/*
	keep a not being infected by body's cursor
*/
a {
	cursor: pointer;
}


.pane, .view {
	background-color: $stable;
}

.white-pane {
	background-color: white;
}

.main-menu {
	.item-light {
		.item-content {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
	
	.item-light.activated {	
		.item-content {
  			color: $calm;
  			border-right: .5em solid $calm;
		}
	}
	
	.user-profile.activated {
		background-color: #2D6C9E;
	}
}


.item-input {
	.highlight-positive {
	  background: $positive;
	}

	.highlight {
		position: absolute;
		bottom: 0;
		height: 2px;
		left: 0;
		width: 100%;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: all 0.15s ease;
		transition: all 0.15s ease;
		z-index: 1;
	}

	input:focus ~ .highlight {
	    -webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
    }

}

.no-vertical-border {
	border-left:0;
	border-right:0;
}

input.reset-field { 
	padding-right: 2em; 
}

.reset-field-icon {
    position: absolute;
    right: .5em;
    top: 1em;
    margin: 0px;
    color: #bbb;
}

.nav-bar-title {
	*::-webkit-input-placeholder {
	    color: white;
	}
	*:-moz-placeholder {
	    /* FF 4-18 */
	    color: white;
	}
	*::-moz-placeholder {
	    /* FF 19+ */
	    color: white;
	}
	*:-ms-input-placeholder {
	    /* IE 10+ */
	    color: white;
	}
	}