<ion-view view-title="Friends" hide-back-button="true">
    <!-- <ion-tabs class="tabs-striped tabs-top tabs-color-positive">
        <ion-tab ng-repeat="tab in friendsController.tabs" 
            title="{{ ::tab.title }}" 
            ui-sref="{{ ::tab.uiSref }}" 
        >
            <ion-nav-view name="friend-tab"></ion-nav-view>
        </ion-tab>
        
    </ion-tabs> -->
    <!-- might manually write all the 3 tabs and diff view name -->

    <ion-tabs class="tabs-striped tabs-top tabs-color-positive">  

        <ion-tab title="Phone Contacts" ui-sref="friend.index.phoneContacts">
        <ion-nav-view name="phone-contacts"></ion-nav-view>
        </ion-tab>

        <ion-tab title="College" ui-sref="friend.index.college">
        <ion-nav-view name="college"></ion-nav-view>
        </ion-tab>

        <ion-tab title="High School" ui-sref="friend.index.highSchool">
        <ion-nav-view name="high-school"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
