<ion-view view-title="Contacts" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ui-sref="search.index">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <h1>Contacts</h1>
        
        <ion-list>
            <ion-item ng-repeat="contact in contactsController.contacts" class="item-media media-block item-icon-right">
            	<div class="media-thumbnail size-md">
            		<img ng-src="{{ contact.imgSrc }}" class="img64x64"/>
            	</div>
            	<div class="media-body box-col">
            		<div class="strong-text text-cut">
                		 {{ contact.name }}
            		</div>
                     <div class="strong-text text-cut">
                		 {{ contact.phone }}
            		</div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
