<ion-modal-view>
  <form name="editCityForm" novalidate>
    <ion-header-bar class="bar-positive">
      <button class="button button-icon ion ion-chevron-left" ng-click="vm.closeEditModal()"></button>
      <h1 class="title">Choose A City</h1>
      <button class="button button-balanced" 
        ng-disabled="editCityForm.$invalid"
        ng-click="vm.saveProfileInfo('city')">Save</button>
    </ion-header-bar>
    <ion-content>
      
        <div class="list">
          <label class="item item-radio" ng-repeat="choice in vm.cityChoices">
            <input type="radio" name="city" ng-model="vm.profile.city" ng-value="choice.value"/>
            <div class="item-content">
              {{choice.label}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <div class="padding assertive" ng-show="vm.modalErrMsg">{{vm.modalErrMsg}}</div>
        </div>
    </ion-content>
  </form>
</ion-modal-view>