<ion-modal-view>
  <form name="editCollegeForm" novalidate>
    <ion-header-bar class="bar-positive">
      <button class="button button-icon ion ion-close-round" ng-click="vm.closeEditModal()"></button>
      <h1 class="title">Choose A College School</h1>
      <button class="button button-balanced" 
        ng-disabled="editCollegeForm.$invalid"
        ng-click="vm.saveProfileInfo('college')">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
          <label class="item item-radio" ng-repeat="choice in vm.collegeChoices">
            <input type="radio" name="college" required
              ng-model="vm.modalSchool.value" 
              ng-value="choice.value"/>
            <div class="item-content">
              {{choice.label}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <div class="padding assertive" ng-show="vm.modalErrMsg">{{vm.modalErrMsg}}</div>
        </div>
    </ion-content>
  </form>
</ion-modal-view>