<ion-modal-view>
	<form name="editGenderForm" novalidate>
		<ion-header-bar class="bar-positive">
		  <button class="button button-icon ion ion-chevron-left" ng-click="vm.closeEditModal()"></button>
		  <h1 class="title">Choose Gender</h1>
		  <button class="button button-balanced" 
		    ng-disabled="editGenderForm.$invalid"
		    ng-click="vm.saveProfileInfo('gender')">Save</button>
		</ion-header-bar>
		<ion-content>
		    <div class="list">
		      <label class="item item-radio" ng-repeat="choice in vm.genderChoices">
		        <input type="radio" name="gender" ng-model="vm.profile.gender" ng-value="choice.value"/>
		        <div class="item-content">
		          {{choice.label}}
		        </div>
		        <i class="radio-icon ion-checkmark"></i>
		      </label>
		      <div class="padding assertive" ng-show="vm.modalErrMsg">{{vm.modalErrMsg}}</div>
		    </div>
		</ion-content>
	</form>
</ion-modal-view>