<!-- 
1. modal and popup, popup is a small layer covers the screen, 
                    one view one instance, 
                    no more other layers could be triggered until the showing one is close

2. popover, could be many layers in the current view
3. popup/modal is more appropriate for this editing situation
-->
<ion-view view-title="Profile">
  <!-- no ion-nav-bar here for <ion-nav-back-button/> working-->
  <ion-content>
    <ion-list id="userInfo" class="card">
      <!-- using custom item-xxx css class for not vertical-algin in middle -->
      <ion-item class="item-media media-block" 
        ng-click="">
        <div class="media-body box-col">
          Photo
        </div>
        <div class="media-thumbnail size-md">
          <img ng-src="{{profileController.profile.user.selfie_path}}" class="img64x64">
        </div>
      </ion-item>
      <ion-item class="item-media media-block"
        ng-click="profileController.openEditModal('nickname')">
        <div class="media-body box-col">
          Nick Name
        </div>
        <span class="item-note">
          {{profileController.profile.user.nickname}}
        </span>
      </ion-item>
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          User ID
        </div>
        <span class="item-note">
          {{::profileController.profile.user.username}}
        </span>
      </ion-item>
      <!-- 
        no needed for the time being
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          QR Code
        </div>
        <div class="media-thumbnail size-md">
          <img ng-src="./img/anonymous.png" class="img64x64">
        </div>
      </ion-item> 
      -->
      <div class="item item-divider">
          &nbsp;
      </div>
      <ion-item class="item-media media-block" 
        ng-click="">
        <div class="media-body box-col">
          Phone Number
        </div>
        <span class="item-note">
          {{profileController.profile.phone_num}}
        </span>
      </ion-item>
      <ion-item class="item-media media-block" 
        ng-click="profileController.openEditModal('gender')">
        <div class="media-body box-col">
          Gender
        </div>
        <span class="item-note">
          {{profileController.profile.genderStr}}
        </span>
      </ion-item>
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          City
        </div>
        <span class="item-note">
          city1
        </span>
      </ion-item>
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          High School
        </div>
        <span class="item-note">
          {{profileController.profile.high_school.name}}
        </span>
      </ion-item>
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          College
        </div>
        <span class="item-note">
          {{profileController.profile.college.name}}
        </span>
      </ion-item>
      <ion-item class="item-media media-block">
        <div class="media-body box-col">
          What's up
        </div>
        <span class="item-note" 
          ng-bind-html="profileController.profile.whatsup">
        </span>
      </ion-item>
    </ion-list>

    <!-- modal template -->
    <script id="account-profile-edit-nickname-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-positive">
          <button class="button button-icon ion ion-arrow-left-c" ng-click="vm.closeEditModal()"></button>
          <h1 class="title">Edit Nick Name</h1>
          <button class="button button-balanced" 
            ng-disabled="editNicknameForm.$valid"
            ng-click="vm.saveUserInfo('nickname')">Save</button>
        </ion-header-bar>
        <ion-content>
          <form name="editNicknameForm" novalidate>
            <div class="list">
              <label class="item item-input no-vertical-border">
                <input type="text" 
                  ng-model="vm.profile.user.nickname" 
                  placeholder="Nick Name"
                  ng-minlength="1"
                  ng-maxlength="30"
                  cmn-focus-me="true"
                  required/>
                <div class="highlight highlight-positive"></div>
              </label>
              <div ng-show="!vm.modalErrMsg" class="padding placeholder-icon">Pick a cool name</div>
              <div class="padding assertive" ng-show="vm.modalErrMsg">{{vm.modalErrMsg}}</div>
            </div>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>
    <!-- sth like this id -->
    <script id="account-profile-edit-xxx-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-positive">
          <button class="button button-icon ion ion-arrow-left-c" ng-click="vm.closeEditModal()"></button>
          <h1 class="title">My Modal dialog</h1>
          <button class="button button-balanced" ng-click="vm.closeEditModal()">Save</button>
        </ion-header-bar>
        <ion-content>
          {{vm.profile.whatsup}}}
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
