<ion-view view-title="Home Page">
  <ion-content>
		<ion-list>			
			<ion-item class="item-divider" ng-bind="::tagsController.profile.user.displayName"></ion-item>
			<ion-item class="padding-horizontal-10 responsive-sm">
				
				<div class="selfie padding">
					<img class="item img128x128" ng-src="{{::tagsController.profile.user.selfie_path}}"
						style="border-radius: 50%;
							    display: block;
							    margin: auto;
							    background-color: gainsboro;"/>
				</div>
				
				<div class="item-body">
					<span class="label energized-bg" 
						ng-bind="tagsController.profile.cityStr"
						ng-if="tagsController.profile.cityStr"></span>
					<span class="label energized-bg" 
						ng-bind="tagsController.profile.age"
						ng-if="tagsController.profile.age != -1 "></span>
					<span class="label energized-bg" 
						ng-bind="tagsController.profile.collegeStr"
						ng-if="tagsController.profile.collegeStr"></span>
					<span class="label energized-bg" 
						ng-bind="tagsController.profile.highSchoolStr"
						ng-if="tagsController.profile.highSchoolStr"></span>
					
					<span class="label energized-bg" 
						ng-repeat="occupation in tagsController.profile.occupations"
						ng-bind="::occupation.name"
						ng-if="tagsController.profile.occupations"></span>

					<div class="positive-bg" style="height:1px; margin:2px;"></div>

					<span class="label balanced-bg" 
						ng-repeat="tag in tagsController.profile.tags"
						ng-bind="::tag.name"></span>
					<div class="text-center padding-top">
						<button class="button button-icon button-clear fa fa-pencil-square-o"
							style="font-size:xx-large; min-height:auto;"
							ng-click="tagsController.openTagEditModal()"
							ng-if="tagsController.isCurrentUserHimself()"></button>
						<button class="button button-icon button-clear fa fa-pencil-square-o"
							style="font-size:xx-large; min-height:auto;"
							ng-click="tagsController.openTagEditModal()"
							ng-if="!tagsController.isCurrentUserHimself()&&tagsController.hasFriendship"></button>
					</div>
				</div>
			</ion-item>
			<ion-item class="item-divider">1°</ion-item>
			<ion-item class="padding">
				<div class="one-degree-tags item-body">
					<span class="label calm-bg">xyzxyz </span>
				</div>
			</ion-item>
		</ion-list>
  </ion-content>
</ion-view>
