<ion-view view-title="Login" class="white-pane">
  <!-- no ion-nav-bar here for <ion-nav-back-button/> working-->
  <ion-nav-buttons side="right">
    <button class="button">
      Register
    </button>
  </ion-nav-buttons>

  <ion-content>
    <br/>
    <div class="list">
      <label class="item item-input" style="border-top:0;">
        <input type="text" placeholder="QuanQuan Account/Phone Number">
        <div class="highlight highlight-positive"></div>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
        <div class="highlight highlight-positive"></div>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="login()">Login</button>
    </div>
    <button class="button button-clear button-positive" ui-sref="auth.login">
      Forgot Password?
    </button>
  </ion-content>
</ion-view>
