<ion-view view-title="Reset Password" class="white-pane">

  <ion-content>
    <form name="passwordResetForm">
      <div class="list padding">
        <label class="item item-input no-vertical-border" style="border-top:0;">
          <input type="text" placeholder="Username/Mobile Number" ng-model="username" required>
          <div class="highlight highlight-positive"></div>
        </label>
      </div>
      <div class="padding">
        <input type="submit" class="button button-block button-positive" 
          value="Request Reset Password" ng-disabled="passwordResetForm.$invalid" ui-sref="auth.confirmResetPassword"/>
      </div>
    </form>
    <p>
      Totally Forgot everything? Please contact <a href="tel:400-666666">400-666666</a>.
    </p>
  </ion-content>
</ion-view>
