<ion-view view-title="Change Password" class="white-pane">

  <ion-content>
    <form name="passwordChangeForm">
      <div class="list padding">
        <label class="item item-input no-vertical-border" style="border-top:0;">
          <input type="text" placeholder="Password" ng-model="password" required>
          <div class="highlight highlight-positive"></div>
        </label>
        <label class="item item-input no-vertical-border">
          <input type="text" placeholder="Password2" ng-model="password2" required>
          <div class="highlight highlight-positive"></div>
        </label>
      </div>
      <div class="padding">
        <input type="submit" class="button button-block button-positive" 
          value="Confirm Change" ng-disabled="passwordChangeForm.$invalid" 
          ui-sref="account.profile"/>
      </div>
    </form>
  </ion-content>
</ion-view>
