<ion-view view-title="Verification Code" class="white-pane">

  <ion-content>
    <form name="verificationCodeForm">
      <div class="list padding">
        <label class="item item-input no-vertical-border" style="border-top:0;">
          <input type="text" placeholder="Verification Code" ng-model="verificationCode" required>
          <div class="highlight highlight-positive"></div>
        </label>
      </div>
      <div class="padding row">
        <div class="col col-50">
          <button class="button button-full button-positive" 
            ng-bind="{{commenceDown.label}}" 
            ng-disabled="{{!commenceDown.finished}}"
            ng-click="resendCode">
          </button>
        </div>
        <div class="col col-50">
        <input type="submit" class="button button-block button-positive" 
          value="Next" ng-disabled="verificationCodeForm.$invalid"
          ui-sref="auth.changePassword"/>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
