<ion-view view-title="Group">
    <ion-nav-buttons side="right">
        <button class="button button-icon fa fa-pencil-square-o" ui-sref="search.index">
        </button>
        <button class="button button-icon ion-android-more-vertical" ui-sref="search.index">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="groupController.doRefresh()">
        </ion-refresher>
        <ion-list>
            <div style="border-bottom: 3px solid #a2a2a2;">
                <ion-item class="item-stable item-icon-right" ng-click="groupController.toggleGroup()" ng-class="{active: groupController.isGroupShown()}">
                    Group {{groupController.group.name}}
                    <i class="icon" ng-class="groupController.isGroupShown() ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                </ion-item>
                <ion-item class="item-accordion item-icon-right" ui-sref="group.group.info({slug: 'a'})" ng-show="groupController.isGroupShown()">
                    Owner
                    <span class="item-note">{{ groupController.group.owner }}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-accordion item-icon-right" ui-sref="group.group.info({slug: 'a'})" ng-show="groupController.isGroupShown()">
                    Members
                    <span class="item-note">{{ groupController.group.memberCount }}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-accordion item-icon-right" ui-sref="group.group.info({slug: 'a'})" ng-show="groupController.isGroupShown()">
                    {{ groupController.group.brief }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </div>
            <ion-item ng-repeat="topic in groupController.topics" class="item-media media-block" ui-sref="group.topic.withReplies({id: topic.id})">
                <div class="media-thumbnail size-md">
                    <img ng-src="{{ topic.imgSrc }}" class="img64x64" />
                </div>  
                <div class="media-body box-col">
                    <h2 class="media-content">{{ topic.title | limitTo: 150}} {{topic.title.length <= 150 ? '' : '...'}}</h2>
                    <p class="footer media-other-text">
                        <span class="">{{ topic.authorName }}</span>
                        <span >{{ topic.publishedAt| amCalendar }}</span>
                        <span class="pull-right">
                        <i class="fa fa-comment-o"></i>
                        {{ topic.replyCount }}
                        </span>
                    </p>
                </div>
            </ion-item>
            
        </ion-list>
        <ion-infinite-scroll ng-if="groupController.moreDataCanBeLoaded()" on-infinite="groupController.loadMore()" distance="2%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
