<ion-view view-title="Group Info">
    <ion-content>
        <ion-list>
        	<ion-item>
                <span class="weak-colored-text">Group Name: </span> 
                Long long long long long long long long long group name
                <i class="icon ion-chevron-right icon-accessory"></i>	
            </ion-item>
            <ion-item>
                <span class="weak-colored-text">Created At: </span>
                2015-06-06	
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="search.index">
                <span class="weak-colored-text">Owner: </span>
                AAA
                <i class="icon ion-chevron-right icon-accessory"></i>	
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="search.index">
                <span class="weak-colored-text">Members: </span>
                100
                <i class="icon ion-chevron-right icon-accessory"></i>	
            </ion-item>
            <ion-item>
				<div ng-bind-html="groupInfoController.groupBrief"></div>
            </ion-item>
        	
        </ion-list>
        
    </ion-content>
</ion-view>
