<ion-view view-title="Group" hide-back-button="true">
    <ion-nav-buttons side="right">

        <button class="button button-icon button-clear ion-search" ui-sref="search.index({category: 'group'})">
        </button>
        <button class="button button-icon ion-android-more-vertical" 
            ng-click="groupsController.openPopover($event)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="groupsController.doRefresh()">
        </ion-refresher>
        <ion-list>
	        
            <ion-item ng-repeat="group in groupsController.joinedGroups" class="item-media media-block item-icon-right" 
                    ui-sref="group.group({slug: group.slug})">
            	<div class="media-thumbnail size-md">
            		<img ng-src="{{ group.imgSrc }}" class="img64x64"/>
            	</div>	
            	<div class="media-body box-col">
            		<div class="strong-text text-cut">
                		 {{ group.name }}
            		</div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            
        </ion-list>
        <ion-infinite-scroll 
                ng-if="groupsController.moreDataCanBeLoaded()" 
                on-infinite="groupsController.loadMore()"
                distance="2%"
                >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
