<ion-view view-title="Social Routes">
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content>
        <div ng-show="!socialRoutesController.socialRoutes.length"
            class="item item-text-wrap stable-bg">
            <p style="text-align:center;">
                No match result ...
                
            </p>
        </div>
        <!-- yes, with card style-->
        <div class="list card" 
            ng-repeat="socialRoute in socialRoutesController.socialRoutes">
            <ion-item class="item-text-wrap item-icon-right"
                ng-click="socialRoutesController.toggleRouteDetail(socialRoute)">
                <span ng-repeat="item in socialRoute.items">
                    <span ng-if="::!$first">→</span>
                    <span ng-bind="::item.display_name"></span>
                    <span ng-if="::item.is_from_mobile_contact">*</span>
                </span>
                <i class="icon" 
                    ng-class="{'ion-ios-minus-empty': !socialRoute.expandable, 'ion-ios-plus-empty': socialRoute.expandable}"
                ></i>
            </ion-item>
            <ion-item class="item-avatar" 
                ng-repeat="detailItem in socialRoute.detailItems"
                ng-hide="socialRoute.expandable">
                <img ng-src="{{::detailItem.user.selfie_path}}" 
                ng-if="::detailItem.user.selfie_path"/>
                <img src="./img/anonymous.png" 
                ng-if=":: !detailItem.user.selfie_path"/>
                <p>
                    <span ng-bind="::detailItem.user.display_name"></span>
                    &nbsp;
                    <i class="icon {{::socialRoutesController.resolveGenderIconClass(detailItem.gender)}}"></i>
                </p>
                <p>
                    <span class="padding-horizontal-1" ng-bind="::detailItem.city"
                        ng-if="detailItem.city"></span>
                    <span class="padding-horizontal-1" ng-bind="::detailItem.age"
                        ng-if="detailItem.age"></span>
                    <span class="padding-horizontal-1" ng-bind="::detailItem.college"
                        ng-if="detailItem.college"></span>
                    <span class="padding-horizontal-1" ng-bind="::detailItem.high_school"
                        ng-if="detailItem.high_school"></span>
                    <span class="padding-horizontal-1" ng-bind="::occupation"
                        ng-repeat="occupation in ::detailItem.occupations"
                        ng-if="detailItem.occupations.length"></span>

                </p>
            </ion-item>
            <ion-item class="item-icon-left"
                ui-sref="search.routeDetail({routeCode: socialRoute.route_code})"
                >
                <i class="icon ion-ios-eye-outline"></i>
                Detail
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
