<ion-view view-title="Social Routes">
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content>
        <div ng-show="!socialRoutesController.socialRoutes.length"
            class="item item-text-wrap stable-bg">
            <p style="text-align:center;">
                No match result ...
            </p>
        </div>
        <!-- yes, with card style-->
        <ion-list>
            <ion-item class="item-text-wrap card" 
                ui-sref="search.routeDetail({routeCode: socialRoute.route_code})"
                ng-repeat="socialRoute in socialRoutesController.socialRoutes"
                >
                <span ng-repeat="item in socialRoute.items">
                    <span ng-if="::!$first">→</span>
                    <span ng-bind="::item.user.display_name"></span>
                    <span ng-if="::item.is_from_mobile_contact">*</span>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
