<ion-view view-title="Social Path">
    <ion-content class="padding">
        <div class="timeline-centered">
            <article class="timeline-entry" ng-repeat="item in ::routeDetailController.items">
                <div class="timeline-entry-inner">
                    <div class="timeline-img-thumbnail"
                        ui-sref="account.profile.home({userId: item.user.id})">
                        <img ng-src="{{::item.user.selfie_path}}" 
                            class="img-responsive"
                            ng-if="::item.user.selfie_path"/>
                        <img src="./img/anonymous.png" 
                            class="img-responsive"
                            ng-if=":: !item.user.selfie_path"/>
                    </div>
                    <div class="timeline-label">
                        <h2>
                            <a ui-sref="account.profile.home({userId: item.user.id})"
                                ng-bind="::item.user.display_name"></a>
                            &nbsp;
                            <i class="icon {{::routeDetailController.resolveGenderIconClass(item.gender)}}"></i>
                        </h2>
                        <div>
                            <span class="label energized-bg" 
                            ng-bind="::item.city"
                            ng-if="item.city"></span>
                            <span class="label energized-bg" 
                                ng-bind="::item.age"
                                ng-if="item.age"></span>
                            <span class="label energized-bg" 
                                ng-bind="::item.college"
                                ng-if="item.college"></span>
                            <span class="label energized-bg" 
                                ng-bind="::item.highSchool"
                                ng-if="item.highSchool"></span>

                            <span class="label energized-bg" 
                                ng-bind="::occupation"
                                ng-repeat="occupation in ::item.occupations"
                                ng-if="item.occupations.length"></span>
                        </div>
                        <div class="positive-bg" style="height:1px; margin:2px;"></div>
                        <div>
                            <span class="label balanced-bg" 
                                ng-repeat="tag in item.tags"
                                ng-bind="::tag">
                            </span>
                        </div>
                        <blockquote ng-if="::item.whatsup" style="margin:.5em 0;"
                            ng-bind="::item.whatsup"></blockquote>
                    </div>
                </div>
            </article>

            <article class="timeline-entry begin">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                        <i class="fa fa-stop-circle-o"></i>
                    </div>
                </div>
            </article>
        </div>
    </ion-content>
</ion-view>
