<ion-view view-title="Home">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ui-sref="search.index">
        </button>
    </ion-nav-buttons>
    <ion-content delegate-handle="ptr-content">
        <ion-refresher on-refresh="channelController.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in channelController.items">{{item}}</ion-item>
        </ion-list>
        <ion-infinite-scroll 
        	ng-if="channelController.moreDataCanBeLoaded()" 
        	on-infinite="channelController.loadMore()"
        	distance="2%"
        	>
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
